@{
    ViewBag.Title = "About";
}


<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorBlack">
                About Us
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center FontColorBlack">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-left">
            <span class="FontSizeLarge FontBold FontColorBlack">
                Seattle University Certificate in Computer Science class 5051
            </span>
        </div>
        <br />
        <div class="FontSizeSmall text-left">
            <span>
                5051 covers the agile Software Development Lifecycle. During the quarter students will work on a group project to build a custom solution for a client. Each team will combine students from the Certificate program, with designers from the school of design program. Students will conduct requirements analysis, customer interviews, solution design, and execute weekly sprints leading to a final demostration of their solution to the customer.
            </span>
        </div>
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                <a href="http://catalog.seattleu.edu/preview_program.php?catoid=38&poid=7948#">
                    Course Catalog
                </a>
            </span>
        </div>
        <br />
        <div class="FontSizeSmall text-left">
            <span>
                Introduction to software engineering principles, methods, techniques and technology for design, development, and management of large and complex software systems. Emphasis will be on software development life cycle activities, including requirements engineering, architecture and design, construction, testing, deployment and maintenance. Students will be introduced to software evolution, measurement and evaluation, teamwork, and project management.
            </span>
        </div>
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                <a href="https://www.seattleu.edu/scieng/computer-science/certificates/cs-fundamentals/">
                    Computer Science Certificate in Computer Science Fundamentals
                </a>
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

