@{
    ViewBag.Title = "Contact";
}


<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorBlack">
                @ViewBag.Title
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center FontColorBlack">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                AttendanceStar for Middle College High School
            </span>
        </div>
        <div class="FontSizeMedium text-left">
            <span>
                This system is a class project from Seattle University CS Department Students
            </span>
        </div>
        <br />
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                <a href="https://www.seattleu.edu/education/community-engagement/middle-college-high-school/">
                    Middle College High School
                </a>
            </span>
        </div>
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                <a href="https://www.seattleu.edu/">
                    Seattle University
                </a>
            </span>
        </div>
        <br />
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                Contact:
                <a href="mailto:koenigm@seattleu.edu">
                    Mike Koenig
                </a>
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>
