
@{
    ViewBag.Title = "FAQ";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorBlack">
                AttendanceStar for Middle College High School
            </span>
            <br />
            <span class="FontSizeLarger FontBold FontColorBlack">
                Frequently Asked Questions
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center FontColorBlack">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                Don't see your question or need more help?
            </span>
        </div>
        <div class="FontSizeMedium text-left">
            <span>
                <a href="mailto:koenigm@seattleu.edu?subject=Mail from Our Site">
                    Email Us Your Question
                </a>
            </span>
        </div>
        <br />
        <div class="FontSizeLarge text-left">
            <span>
                Please try our most Frequently Asked Questions first:
            </span>
        </div>
        <br />
        <div class="FontSizeSmall text-left">
            <span>
                Question:    How do I clock in each day?
            </span>
            <br />
            <span>
                Answer:      Clock in through the Kiosk screen.
            </span>
        </div>
        <br />
        <div class="FontSizeSmall text-left">
            <span>
                Question:    How do I change my avatar?
            </span>
            <br />
            <span>
                Answer:      First log in, then click on the Avatar image from your dashboard. Once here you can choose any avatar within your current level.
            </span>
        </div>
        <br />
        <div class="FontSizeSmall text-left">
            <span>
                Question:    How do I check my attendance status?
            </span>
            <br />
            <span>
                Answer:      First log in, then click on the Attendance image from your dashboard to see your current status.
            </span>
        </div>
        <br />
        <div class="FontSizeSmall text-left">
            <span>
                Question:    How do I check my attendance history?
            </span>
            <br />
            <span>
                Answer:      First log in, then click on the Reports image from your dashboard to see your attendance history.
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>
