
@{
    ViewBag.Title = "Guide";
}


<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorBlack">
                User @ViewBag.Title
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center FontColorBlack">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-left">
            <span>
                AttendanceStar for Middle College High School Instructions
            </span>
        </div>
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                Kiosk Usage
            </span>
        </div>
        <br />
        <div class="FontSizeSmall text-left">
            <span>
                1. The Kiosk must be activated by an admin. Once the Kiosk is open use this page to clock-in and clock-out each day.
            </span>
            <br />
            <span>
                2. Find your avatar, click on it and then you can choose your emoticon for the day. Then click "Log In" and you will get a confirmation.
            </span>
            <br />
            <span>
                3. To clock out at the end of the day, go to the Kiosk and click your avatar then click "Log Out".
            </span>
        </div>
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                Student Dashboard Access
            </span>
        </div>
        <br />
        <div class="FontSizeSmall text-left">
            <span>
                1. To access your dashboard you must log-in first.
            </span>
            <br />
            <span>
                2. Click on the "Student" tab in the upper navigation bar.
            </span>
            <br />
            <span>
                3. Find your avatar and click on it.
            </span>
            <br />
            <span>
                4. A password screen will pop-up; enter your password and click "Login".
            </span>
            <br />
            <span>
                5. Your should now be in your dashboard.
            </span>
        </div>
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                Student Dashboard Has Six Options
            </span>
        </div>
        <br />
        <div class="FontSizeSmall text-left">
            <span>
                1. Reports: This is where you can create customizable reports about your attendance.
            </span>
            <br />
            <span>
                2. Attendance: This is where you can see your attendance history.
            </span>
            <br />
            <span>
                3. Visit: This is where you can visit you classmate's ice cream shops.
            </span>
            <br />
            <span>
                4. Store: This where you customize your own store front.
            </span>
            <br />
            <span>
                5. Customize: This is where you can update your personal profile.
            </span>
            <br />
            <span>
                6. Avatar: This is where you can change your avatar as you level-up.
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

