@{
    ViewBag.Title = "Welcome";
}

<br />
<div class="row justify-content-center">

    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold">
                Welcome to AttendanceStar
            </span>
        </div>
        <br />

        <div class="FontSizeLarge text-center">
            Earn Tokens, Run your Shop, Customize your Avatar<br />
            <br />
            All While Attending Class.
            <br />
            <br />
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">

        <div class="row">
            <br />
            <br />
        </div>

        <div class="row justify-content-center FontColorBlack">
            <div class="col text-center DispalyBoxWithMargin">
                <a href="~/Portal/Roster">
                    <img src="~/Content/img/StudentPage_dark.png" alt="Student Pages" class="AdminIconImage" />
                    <br />
                    <span class="FontSizeLarge">
                        Student
                    </span>
                </a>
            </div>

            <div class="col text-center DispalyBoxWithMargin">
                <a href="~/Admin/Login">
                    <img src="~/Content/img/AdminPage_dark.png" alt="Admin Pages" class="AdminIconImage" />
                    <br />
                    <span class="FontSizeLarge">
                        Admin
                    </span>
                </a>
            </div>

            <div class="col text-center DispalyBoxWithMargin">
                <a href="~/Kiosk/Login">
                    <img src="~/Content/img/KioskPage_dark.png" alt="Kiosk Mode" class="AdminIconImage" />
                    <br />
                    <span class="FontSizeLarge">
                        Kiosk Mode
                    </span>
                </a>
            </div>
        </div>

        <div class="row">
            <br />
            <br />
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

