@{
    ViewBag.Title = "Privacy";
}



<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorBlack">
                @ViewBag.Title
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center FontColorBlack">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                We value your privacy.
            </span>
        </div>
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                This site is a prototype, and does not attempt to keep data secure or private.
            </span>
        </div>
        <div class="FontSizeMedium text-left">
            <span>
                Do not use the system if you are concerned about your data privacy.
            </span>
        </div>
        <br />
        <div class="FontSizeMedium text-left">
            <span>
                All data on this site may be deleted, modified, or exposed at any time.
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>
