@{
    ViewBag.Title = "Student Example";
}

<br />
<h2>Student personalized reports help students undertand how the are doing in the class</h2>

<br />
<h3>Student can see their Avatar and Level, View the number of Tokens in their Bank</h3>
<h3>As well as review detailed attendance reports</h3>

<br />
<hr />
<br />

<img src="~/Content/img/StudentExample.png" />