
@{
    ViewBag.Title = "Shop Discount";
}
<br />
<h2>Welcome to Shop Discounts</h2>


<h3>Get discounts based on your Level</h3>

<br />

<table class="table table-striped table-condensed table-bordered table-fit">
    <thead>
        <tr>
            <td>Level</td>
            <td>Discount</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>2</td>
            <td>10%</td>
        </tr>

        <tr>
            <td>3</td>
            <td>15%</td>
        </tr>

        <tr>
            <td>4</td>
            <td>20%</td>
        </tr>

        <tr>
            <td>5</td>
            <td>25%</td>
        </tr>

    </tbody>
</table>
