
@{
    ViewBag.Title = "Shop Specials";
}
<br />
<h2>Welcome to Shop Specials</h2>


<h3>Specials change every day, so check back often</h3>

<br />

<img src="~/Content/img/StoreExample.jpg" />

<br />
<br />
