@model _5051.Models.BaseReportViewModel
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Actual');
        data.addColumn('number', 'Ideal');
        var dates = [@String.Join(", ", Model.AttendanceList.Where(m => m.IsSchoolDay).ToList().Select(m => m.Date.ToString("dd")).ToArray())];
        var values = [@String.Join(", ", Model.AttendanceList.Where(m => m.IsSchoolDay).ToList().Select(m => m.TotalHours.TotalHours.ToString("0.##")).ToArray())];
        var expected = [@String.Join(", ", Model.AttendanceList.Where(m => m.IsSchoolDay).ToList().Select(m => m.TotalHoursExpected.TotalHours.ToString("0.##")).ToArray())];
        for (i = 0; i < dates.length; i++) {
            data.addRow([dates[i].toString(), values[i], expected[i]]);
        }

        var options = {
            title: 'Cumulative Hours Attended in @Model.DateStart.ToString("MMM")',
            width: 1100,
            height: 700

        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>

<div id="curve_chart"></div>
