@{
    ViewBag.Title = "Administrator";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center FontColorWhite">
            <span class="FontSizeLarger FontBold">Welcome to the Administrator Page</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <br />
        <div class="row justify-content-center">
            <div class="col-sm text-center AdminIconBox">
                <a href="~/Admin/Report">
                    <img src="~/Content/img/Reports_light.png" alt="Show Reports" class="AdminIconImage" />
                    <br />
                    <span class="FontSizeLarge FontColorWhite">Show Reports</span>
                </a>
            </div>
            <div class="col-sm text-center AdminIconBox">
                <a href="~/Student/Index">
                    <img src="~/Content/img/Students_light.png" alt="Manage Students" class="AdminIconImage" />
                    <br />
                    <span class="FontSizeLarge FontColorWhite">Manage Students</span>
                </a>
            </div>

            <div class="col-sm text-center AdminIconBox">
                <a href="~/Calendar/Index">
                    <img src="~/Content/img/Calendar_light.png" alt="Manage Calendar" class="AdminIconImage" />                
                    <br />
                    <span class="FontSizeLarge FontColorWhite">Manage Calendar</span>
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm text-center AdminIconBox">
                <a href="~/AvatarItem/Index">
                    <img src="~/Content/img/Avatars_light.png" alt="Manage Avatars" class="AdminIconImage" />
                    <br />
                    <span class="FontSizeLarge FontColorWhite">Manage Avatars</span>
                </a>
            </div>

            <div class="col-sm text-center AdminIconBox">
                <a href="~/Admin/Settings">
                    <img src="~/Content/img/Settings_light.png" alt="Settings" class="AdminIconImage" />
                    <br />
                    <span class="FontSizeLarge FontColorWhite">Settings</span>
                </a>
            </div>

            <div class="col-sm text-center AdminIconBox">
                <a href="~/FactoryInventory/Index">
                    <img src="~/Content/img/Inventory_light.png" alt="Manage Store Inventory" class="AdminIconImage" />
                    <br />
                    <span class="FontSizeLarge FontColorWhite">Manage Store Inventory</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<br />