@model _5051.Models.ApplicationUser
@{
    ViewBag.Title = "DeleteUser";
}

<br />
<h2>Delete @Model.UserName?</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="col-sm-4">
        <input type="submit" value="Delete" class="btn btn-primary" id="Submit">
    </div>
}